/*
Theme Name: Elite
Theme URL: http://gabrielbibiano.github.io
Description: Tema Teste
Author: Gabriel Bibiano
Author URL: http://gabrielbibiano.github.io
Version: 1.0
*/

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #000;
	color: #FFF;
	font-family: Arial;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 500px;
	margin-top: 30px;
}


#control-nav{
  	display: none !important;
}

header{
	border-bottom-style: solid !important;
    border-bottom-color: #333333 !important;
    height: 39px !important;
    font-size: 16px;
}

li{
	display: inline-block !important;
	margin-left: 33px !important;
}

a{
	text-decoration: none !important;
	color: #ccc !important;
}

a:hover{
	color: #4682B4 !important;
}

ul{
	margin-top: -15px !important;
	text-align: center !important;
	margin-right: 0px !important;
}

.banner{
	margin-top: 10px;
	height: 70%;

}

#title-page{
	font-size: 25px;
}

#banner{
	width: 700px;
	margin-left: 7px;
	float: right;
	margin-top: 22px;
	position: absolute;
	margin: 10px;
}

.logo{
	margin-right: 10px;
}

.corpo{
	font-size: 12px;
	height: 170px;
	position: relative;
}

.bloco{
	clear: both;
	border-top-style: solid;
    border-top-color: #333333;
    margin-bottom: 100px;
}

.blocos{
	position: relative;
	width: 290px; 
	float: left;
	margin: 3px;
	margin-top: 10px;
}

.content{
	margin-top: 50px;
}

iframe{
	width: 45%;
	height: 70%;
	margin-top: 30px;
	float: left;
	clear: both;
	margin-bottom: 100px;
}

#post-thumb{
	width: 40%;
	float: left;
	position: relative;
	margin-left: -3%;
}

.post-right{
	float: right;
	width: 50%;
	margin-top: -30px;
}

.page-header{
  border-bottom: solid #EEE 0.5px;
}

.panel-body{
  background-color: black !important;
  color: white !important;
}

.investimentos > .panel > .panel-body > img, img{
  max-width: 100%;
}

.body-imoveis{
  background-color: #EEE !important;
  color: black !important;
}

.imagem-body:hover{
  opacity:0.30;
  -moz-opacity: 0.65;
  filter: alpha(opacity=65);
  background-color: blue;
}

.texto-sobre a img{
  width: 500px; 
  height: 200px;
}

.img-bloco{
	width: 40px;
	float: left;
	margin-right: 5px;
}

h2{
	position: relative;
	float: left;
	margin: 5px;	
	width: 245px; 
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

footer{
    border-top-color: #333333;
    border-top-style: solid;
   	font-size: 11px;
   	color: grey;
   	width: 100%;
   	height: 100px;
   	clear: both;
}

.texto-sobre a img{
  width: 400px; 
  height: 200px;
}

.texto-sobre a .span{
  display: none;
  color: white;
  bottom: 40%;
  font-size: 12px;
  padding-left: 7% !important;
}

.texto-sobre a:hover .span {
  position: absolute;
  display: block;
}

.left{
	width: 210px;
	text-align: justify;
	position: relative;
	float: left;
	padding-top: 5px;
}

.center{
	text-align: center;
	float: left;
	margin-left: 150px;
	padding-top: 5px;
}

.desc{
	text-indent: 1.5em;
	font-size: 14px;
	text-align: justify;
}


.post:hover{
	background-color: #ddd;
}

.right{
	float: right;
	padding-top: 15px;
}

#forca{
	float: right;
	margin-left: 45px;
}

@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

div#slider { 
	overflow: hidden;
	width: 75%;
}

div#slider figure img { 
	width: 20%; 
	float: left;
	height: 300px; 
}

div#slider figure { 
  position: relative;
  width: 500%;
  left: 0;
  margin-right: -30px;
  margin-top: 10px;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite; 
}

@media screen and (max-width: 767px) {
	
	body{
		width: 80%;
	}

	header .control-nav {
	    position: absolute;
	    right: 20px;
	    top: 20px;
	    display: block;
	    width: 30px;
	    padding: 5px 0;
	    border: solid #333;
	    border-width: 3px 0;
	    z-index: 2;
	    cursor: pointer;
	  }

	a{
		display: block;
		margin-left: 33px;
		margin-top: 40px;
		width: 100px;
	}

	#post-thumb{
		width: 100%;
		float: left;
		position: relative;
		clear: both;
	}

	.post-right{
		margin-top: 20px;
		float: right;
		width: 100%;
		clear: both;
	}
	
	iframe{
		width: 100%;
		height: 70%;
		margin-top: 30px;
		float: left;
		clear: both;
		margin-bottom: 100px;
	}


	li{
		display: block;
	}

	ul{
		margin-top: 20px;
	}

	.logo{
		width: 10%;
		margin-top: -20%;
	}

	div#slider { 
		overflow: hidden;
		width: 100%;
	}

	.img-bloco{
		width: 10px;
		float: left;
		margin-right: 5px;
	}

	h2{
		position: relative;
		float: left;
		margin: 1px;	
		font-size: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}

	.corpo{
		font-size: 12px;
		margin-top: 60%;
		height: 170px;
	}


  header .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #333;
  }
 
  header .control-nav-close {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
 
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ccc;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  #control-nav{
  	display: none;
  }

  #control-nav:checked ~ .control-nav-close {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
	}
	 
	#control-nav:checked ~ nav {
	  -webkit-transform: translate(0, 0);
	  -ms-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
}